
  <div class="container">

    <div class="row">
      <div class="col-md-4">
        <%= image_tag 'green-logo-01.png', height: '125px' %>
      </div>
      <div class="col-md-4">
        <%= image_tag 'green-logo-01.png', height: '125px' %>
      </div>
      <div class="col-md-4">
        <%= image_tag 'green-logo-01.png', height: '125px' %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <%= image_tag 'green-logo-01.png', height: '125px' %>
      </div>
      <div class="col-md-4">
        <%= image_tag 'green-logo-01.png', height: '125px' %>
      </div>
      <div class="col-md-4">
        <%= image_tag 'green-logo-01.png', height: '125px' %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <%= image_tag 'green-logo-01.png', height: '125px' %>
      </div>
      <div class="col-md-4">
        <%= image_tag 'green-logo-01.png', height: '125px' %>
      </div>
      <div class="col-md-4">
        <%= image_tag 'green-logo-01.png', height: '125px' %>
      </div>
    </div>

  </div>
